<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Marketplace.Walmart.Sandbox" value="true" />
    <add key="Marketplace.Walmart.Username" value="" />
    <add key="Marketplace.Walmart.Password" value="" />
    <add key="Marketplace.Walmart.SellerId" value="" />
  </appSettings>
</configuration>